.info-modal-container {
  /* height: min(50%, 300px); */
  margin: auto;
  width: 50%;
  right: 0;
  bottom: 220%;
  padding: 15px 1rem;
  border-radius: 12px;
  position: absolute;
  background: #fff;
  z-index: 1;
  box-shadow: -2px 2px 3px 0px #454236;
}
.info-modal {
  display: flex;
  flex-direction: column;
  position: relative;
}
.info-modal h2 {
  font-size: 14px;
  text-align: center;
  font-weight: 600;
}
.info-modal hr {
  height: 1px;
  width: 100%;
  border: none;
  background: #0ab63d;
  margin: 5px 0;
}
.info-modal-container div.info-modal input {
  padding: 6px;
  cursor: pointer;
  border-radius: 30px;
  width: 70px;
  font-size: 13px;
  color: #fff;
  background: #0ab63d;
  margin-top: 5px;
  place-self: center;
}
.info-modal .sub-title {
  display: flex;
  align-items: center;
  place-self: start;
  color: var(--main-color);
  font-size: 13px;
}
.info-modal .sub-title .icon {
  font-size: 7px;
  margin-right: 10px;
}
.info-modal .sub-title-contents {
  place-self: start;
  font-size: 13px;
}
@media (max-width: 850px) {
  .info-modal-container {
    width: 250px;
  }
}
