.settings-body {
  display: grid;
  gap: 20px;
  grid-template-columns: 300px 1fr;
  overflow-y: auto;
  height: 100%;
}
.load {
  justify-content: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.settings-body-right {
  overflow: auto;
  height: 100%;
  background: #f9f9f9;
}
.settings-body-right .heading-text {
  padding: 15px;
  text-transform: capitalize;
  background: #fff;
  font-size: 25px;
  font-weight: 600;
}
