.nutrients-info {
  gap: 20px;
  display: grid;
  grid-template-columns: 160px 1fr;
}
.nutrients-percentage-container {
  padding: 0px 10px;
}
.nutrients-circle-progress {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
}
.nutrients h2 {
  margin: 15px 0;
}
.composition-container {
  gap: 5px;
}
.composition-container div {
  padding: 10px 15px;
  color: #fff;
  justify-content: center;
  border-radius: 4px;
  width: 100%;
  font-size: 18px;
}
.composition-container.leaf div {
  background: #43aa8b;
}
.composition-container.fish div {
  background: #3a86ff;
}
.composition-container.fats div {
  background: #ff6b35;
}
.composition-container span {
  font-size: 15px;
  text-align: center;
}
.circle-rotate {
  background: #fff;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  position: relative;
  box-shadow: 0px 0px 6px 2px var(--main-color);
  margin-bottom: 15px;
}
.circle-rotate-contents {
  animation: opaque 2s infinite linear;
}
.circle-border {
  border-radius: 50%;
  height: 111%;
  width: 111%;
  border: 13px solid var(--main-color);
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  animation: rot 2s infinite linear;
}
.circle-rotate .icon {
  color: var(--main-color);
  font-size: 30px;
}
@keyframes rot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes opaque {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  /* 25%,
  75% {
    opacity: 0.3;
  } */
  100% {
    opacity: 1;
  }
}
@media (max-width: 900px) {
  .nutrients-info {
    flex-direction: column;
    display: flex;
  }
}
