.account-update {
  padding: 15px;
}
.account-update-header button {
  padding: 8px 16px;
  background: #000;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  border-radius: 30px;
}
.account-update p.sub-text {
  padding: 10px 0;
  font-size: 18px;
}
.account-update hr {
  border: none;
  height: 1px;
  background: #868686;
}
.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
.profile-update {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.profile-update-image-upload {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: row;
  margin: 10px 0;
}
.profile-btn {
  flex-direction: column;
  gap: 10px;
}
.profile-update-image-upload button {
  padding: 6px 10px;
  border-radius: 20px;
  border: 2px solid #0ab63d;
  /* var(--main-color); */
  cursor: pointer;
  background: #dbffe6;
  color: #004715;
}
button.update-img {
  padding: 9px 15px;
  border: none;
  background: #0ab63d;
  color: #fff;
}
button.profile-set {
  background: #9b9b9b;
  color: #fff;
  cursor: not-allowed;
  border: 2px solid transparent;
}
.profile-image {
  position: relative;
}
.profile-img-container {
  background: #fff;
  border: 2px solid #0ab63d;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  border-radius: 50%;
  padding: 2px;
  overflow: hidden;
}

.profile-img-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.profile-img-container .icon {
  font-size: 45px;
  color: #0ab63d;
}
.edit-icon-container {
  position: absolute;
  right: 0px;
  bottom: 0px;
  border: solid 2px #0ab63d;
  background: #fff;
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
.edit-icon-container .icon {
  transform: rotate(10deg);
  font-size: 14px;
  color: #0ab63d;
}
.name-update {
  gap: 10px;
}
.name-update #name-update > p {
  font-weight: 600;
  font-size: max(1.5vw, 16px);
  place-self: end;
}
.name-update .inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inputs .layout {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5px;
}
.layout .label {
  display: flex;
  justify-content: space-between;
}
.layout .label label {
  display: flex;
  width: 100%;
}
.layout .label label p {
  font-size: 14px;
}
.layout input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #0ab63d;
  outline: none;
  width: 100%;
  background: #fff;
  font-size: 13px;
  font-weight: 600;
}
.icon-container-text {
  padding: 7px 15px;
  gap: 10px;
  font-size: 14px;
  background: #000;
  border-radius: 20px;
  color: #fff;
}
.icon-container-text .icon.edit {
  color: #fff;
  font-size: 12px;
}
div.blink input {
  animation: blink-border 0.5s 6;
}
.inputs .userName {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.userName-btn div:last-child {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 5px;
}
.userName-btn input,
.edit-username-btn {
  padding: 10px;
  white-space: nowrap;
  border-radius: 5px;
  border: none;
  background: #0ab63d;
  color: #fff;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
}
.userName-btn input:hover {
  opacity: 0.7;
}
.submit {
  display: flex;
  width: 100%;
  position: relative;
}
.submit .isLoadingSubmit {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transform: translateY(50%); */
  background: #dfdfdf88;
}
.submit button {
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  background: #000;
}
.loader-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.loader-wrap .isLoading,
.layout .angleDown {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.layout .angleDown {
  transition: transform 0.3s ease-in-out;
}
.loader-wrap .isLoading {
  right: 45px;
}
.layout .angleDown.rotate {
  /* right: 55px; */
  transform: rotate(180deg) translateY(50%);
}
.userName-btn p {
  position: relative;
}
.submit {
  position: relative;
}

button.blurry {
  background: #6fd174;
}

@keyframes blink-border {
  0% {
    border-color: var(--main-color);
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: var(--main-color);
  }
}
