* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--primary);
}
.adding-to-cart {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* width: 100%; */
  padding: 0 20px;
}
.adding-to-cart a {
  color: #2562e7;
  background: #fff;
  border-radius: 12px;
  padding: 5px 10px;
}
:root {
  --main-color: #e72525;
  --primary: #000000;
  --paid: #2cb60a;
  --good: #0d9e00;
  --pend: #5372f0;
  --failed: #ee0f0f;
}
.icon {
  cursor: pointer;
}
.g-5 {
  gap: 5px;
}
.g-10 {
  gap: 10px;
}
.g-20 {
  gap: 20px;
}
.g-30 {
  gap: 30px;
}
.g-40 {
  gap: 40px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-60 {
  margin-top: 60px;
}
.mt-70 {
  margin-top: 70px;
}
.mt-80 {
  margin-top: 80px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-70 {
  margin-bottom: 70px;
}
.mb-80 {
  margin-bottom: 80px;
}
.flex {
  display: flex;
}
.fld {
  flex-direction: column;
}
.flex-center {
  display: flex;
  align-items: center;
}
.j-center {
  justify-content: center;
}
.j-sb {
  justify-content: space-between;
}
.j-start {
  justify-content: start;
}
.j-end {
  justify-content: end;
}
.flex-center-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-sb {
  display: flex;
  justify-content: space-between;
}
.flex-fld-column {
  display: flex;
  flex-direction: column;
}
.flex-sb-fld-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body {
  display: flex;
}
@media (max-width: 750px) {
  .app {
    width: 93%;
  }
}
