.orders-container {
  margin-top: 60px;
}
.orders-data-navbar ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  background: #f3f3f3;
  padding: 5px;
  gap: 10px;
  border-radius: 30px;
}

.orders-data-navbar ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 7px max(1.2vw, 8px);
  width: 100%;
  border-radius: 30px;
  font-size: max(1.2vw, 12px);
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
  color: #686868;
}
.orders-data-navbar ul li span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 10px;
  background: #686868;
  color: #fff;
}
.orders-data-navbar ul li.active {
  background: #fff;
  color: #000;
}
.orders-data-navbar ul li.active span {
  background: #000;
  color: #fff;
}
.orders-data-list {
  /* background: #000000; */
  /* padding: 10px; */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.orders-data {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
  padding: 15px;
  border-radius: 10px;
  background: #fff;
  border-top-left-radius: -15px;
  overflow: hidden;
  position: relative;
  z-index: 5;
  width: 100%;
}

.orders-data::before {
  content: '';
  position: absolute;
  /* width: 12px; */
  left: -65px;
  bottom: 0;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  right: 0%;
  top: -5px;
  z-index: -1;
}
.orders-data.paid:before {
  background: #2cb60a;
}
.orders-data.pend:before {
  background: #5372f0;
}
.orders-data-top {
  display: flex;
  justify-content: space-between;
}
.order-data-date-status {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.orders-data-container {
  margin-bottom: 10px;
}
.order-data-status-container {
  gap: 10px;
}
.order-data-status {
  padding: 4px 20px;
  cursor: not-allowed;
  border-radius: 20px;
  gap: 5px;
  text-transform: capitalize;
}
.order-data-status.paid {
  background: #daffd1;
  color: #2cb60a;
}
.order-data-status.pend {
  background: #dde4ff;
  color: #5372f0;
}
.order-data-food-items {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: -2;
  /* width: 80vw; */
  /* white-space: nowrap; */
}
.order-data-food-item {
  background: #f1f1f1;
  box-shadow: 0px 0px 5px 0px #686868;
  border-radius: 6px;
  margin-top: 5px;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  justify-content: space-between;
  padding: 8px 5px;
}
.order-data-food-item-name-quantity {
  width: 100%;
  font-size: max(1.2vw, 12.5px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.order-data-food-item-quantity {
  display: flex;
  justify-content: space-between;
}
.order-data-food-items .img-cont {
}
.order-data-food-items img {
  width: 60px;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.order-data-food-item-btn {
  display: flex;
  align-items: center;
  gap: 15px;
}
.order-data-food-item-btn button {
  text-transform: capitalize;
  background: transparent;
  border: none;
  color: #1100fa;
  cursor: pointer;
}
.order-data-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}
.order-data-btn span b {
  color: var(--main-color);
}
.order-data-btn button {
  padding: 5px 20px;
  display: flex;
  gap: 10px;
  cursor: pointer;
  border-radius: 20px;
  background: #000;
  color: #fff;
  font-size: 14px;
  border: none;
  margin-top: 10px;
  align-items: center;
}
.order-data-btn button:first-child:hover .icon {
  transform: translateX(-7px);
}
.order-data-btn button:last-child:hover .icon {
  transform: translateX(7px);
}
.order-data-btn button .icon {
  color: #fff;
  font-size: 22px;
}
