.orders-container {
  margin-top: 60px;
}
.orders-content {
  overflow: hidden;
  position: relative;
}
.warning-user .icon {
  color: tomato;
}
.warning-user {
  position: absolute;
  white-space: nowrap;
  top: 50px;
  padding: 10px;
  width: 100%;
  animation: sliderText 22s infinite linear;
  /* transform: translateX(-480%); */
}
@keyframes sliderText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
.orders-track-container {
  position: fixed;
  z-index: 20;
  background: #636363c2;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.orders-track {
  background: #fff;
  width: 70vw;
  z-index: 40;
}
.orders-track-top {
  position: relative;
  background: var(--main-color);
  color: #fff;
  padding: 15px 0;
}
.orders-track-top > p {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.orders-track-top .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.orders-track-middle {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 15px;
}
.orders-track-middle-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.orders-track-middle p:last-child {
  font-weight: 600;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 5px;
}
.orders-track-contents {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.orders-track-content {
  display: grid;
  grid-template-columns: 40px 1fr;
}
.orders-track-content-text h3 {
  font-size: 17px;
}
.orders-track-content-text p {
  font-size: 14px;
}
.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.orders-track-content hr {
  position: absolute;
  height: 80%;
  top: 100%;
  transform: translateY(-45%);
  width: 3px;
  border: none;
  background: #1f1f1f;
  margin: 2px 0;
}
.order-track-status {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  justify-content: center;
}
.order-track-status .svg {
  fill: #000;
  height: 45px;
  width: 45px;
}
.orders-track-bottom {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}
.orders-track-bottom button {
  padding: 10px 15px;
  cursor: pointer;
}
.orders-track-bottom button.confirm-delivery {
  border-radius: 20px;
  border: none;
  color: #fff;
  font-weight: 600;
  background: var(--pend);
}
.orders-track-bottom button.confirm-delivery.hidden {
  opacity: 0.6;
  cursor: not-allowed;
}
.orders-data-navbar ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  background: #f3f3f3;
  padding: 5px;
  gap: 5px;
  border-radius: 30px;
}

.orders-data-navbar ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 7px max(1.3vw, 8px);
  width: 100%;
  border-radius: 30px;
  font-size: max(1vw, 11px);
  font-weight: 600;
  transition: 0.3s ease;
  text-transform: capitalize;
  cursor: pointer;
  color: #686868;
}
.orders-data-navbar ul li span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 10px;
  background: #686868;
  color: #fff;
}
.orders-data-navbar ul li.active {
  background: #fff;
  color: #000;
}
.orders-data-navbar ul li.active span {
  background: #000;
  color: #fff;
}
.orders-data-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 10px;
}
.status-icon {
  position: relative;
  justify-content: center;
}
.spinner {
  height: 27px;
  position: absolute;
  width: 27px;
  top: -5px;
  left: -6px;
  right: 0;
  bottom: 0;
}
.spinner circle {
  fill: none;
  stroke: #4285f4;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-dasharray: 80;
  stroke-dashoffset: 60;
  animation: spin 1.5s linear infinite, dash 1.5s linear infinite;
  transform-origin: 50% 50%;
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -15;
  }
  100% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: -120;
  }
}
.orders-data-top {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 5px 0px #686868;
  padding: 15px 10px;
  background: #fff;
  border-radius: 6px;
}
.orders-data-middle {
  display: flex;
  margin: 15px 0;
  background: #fff;
  gap: 10px;
  box-shadow: 0px 0px 5px 0px #686868;
  padding: 15px 10px;
  justify-content: space-between;
  border-radius: 6px;
}
.completed-order {
  display: flex;
  background: #fff;
  gap: 20px;
  box-shadow: 0px 0px 5px 0px #686868;
  padding: 15px;
  border-radius: 6px;
  align-items: center;
  margin-bottom: 15px;
}
.order-status {
  display: flex;
  align-items: center;
  gap: 10px;
}
.order-status-text .icon.processing {
  animation: spin 2s ease infinite forwards;
}
.order-status-text .icon.out-for-delivery {
  animation: truckMoving 2s ease infinite forwards;
}
.order-status-text {
  font-size: 15px;
  gap: 10px;
  display: flex;
  font-weight: 600;
  align-items: center;
}
.order-list-middle {
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  gap: 10px;
  margin-top: 10px;
}
.orders-data {
  padding: 25px;
  border-radius: 10px;
  background: #f0f0f0;
  border-top-left-radius: -15px;
}

.order-data-bottom {
  width: 100%;
  padding: 5px 10px;
}
.order-data-bottom.paid {
  background: #daffd1;
}
.order-data-bottom.pend {
  background: #dde4ff;
}
.order-data-bottom.failed {
  background: #f5caca;
}
.order-data-date-status {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.orders-data-container {
  margin-bottom: 10px;
}
.order-data-status-container {
  gap: 10px;
}
.order-data-status {
  padding: 4px 20px;
  cursor: not-allowed;
  border-radius: 20px;
  gap: 5px;
  text-transform: capitalize;
}
.order-data-status.paid {
  background: #daffd1;
  color: var(--paid);
}
.order-data-status.pend {
  background: #dde4ff;
  color: var(--pend);
}
.order-data-status.failed {
  background: #f5caca;
  color: var(--failed);
}
.order-track {
  padding: 7px;
  cursor: pointer;
  margin-right: 20px;
}
.order-data-food-items {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: #fff;
  box-shadow: 0px 0px 5px 0px #686868;
  border-radius: 6px;
  padding: 10px;
}
.order-data-food-item {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  justify-content: space-between;
  padding: 10px;
}
@keyframes truckMoving {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  25%,
  50% {
    transform: translateX(10px);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.order-data-food-item-name-quantity {
  width: 100%;
  font-size: max(1vw, 15px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.order-data-food-item-quantity {
  display: flex;
  justify-content: space-between;
}
.order-data-food-items .img-cont {
  position: relative;
}
.img-cont .item-qty {
  position: absolute;
  height: 20px;
  width: 20px;
  background: #000;
  color: #fff;
  border-radius: 50%;
  justify-content: center;
  top: 0;
  right: 0;
}
.order-data-food-items img {
  width: 60px;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.order-data-food-items hr {
  height: 1px;
  background: #8b8b8b;
  border: none;
}
.order-data-button {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 15px;
  background: #fff;
  box-shadow: 0px 0px 5px 0px #686868;
  border-radius: 6px;
}
.order-data-button button.order-track {
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  border: none;
  font-weight: 600;
  font-size: 14px;
}
.order-data-button button.order-track:hover,
.order-receipt-btn button:hover {
  opacity: 0.8;
}
.order-data-button.pend button.order-track:first-child {
  background: var(--pend);
}
.order-data-button.failed button.order-track:first-child {
  background: var(--failed);
}
.order-data-button.paid button.order-track:first-child {
  background: var(--paid);
}
.order-data-button button.order-track:first-child {
  color: #fff;
}
.order-data-button.paid button.details {
  border: 2px solid var(--paid);
  color: var(--paid);
}
.order-data-button.pend button.details {
  border: 2px solid var(--pend);
  color: var(--pend);
}
.order-data-button.failed button.details {
  border: 2px solid var(--failed);
  color: var(--failed);
}
.order-data-button button.details {
  background: transparent;
}
.order-receipt-btn {
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.requery-btn {
  padding: 8px;
  place-self: start;
  cursor: pointer;
  background: #000;
  color: #fff;
  border-radius: 25px;
}
.order-data-button.paid .order-receipt-btn button {
  border: 2px solid var(--paid);
  color: var(--paid);
}
.order-data-button.pend .order-receipt-btn button {
  border: 2px solid var(--pend);
  color: var(--pend);
}
.order-data-button.failed .order-receipt-btn button {
  border: 2px solid var(--failed);
  color: var(--failed);
}
.order-receipt-btn button {
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  border-radius: 6px;
  background: transparent;
  font-size: 14px;
}
.order-data-food-item-btn {
  display: flex;
  align-items: center;
  gap: 15px;
  z-index: 10;
}
.order-data-food-item-btn button {
  background: transparent;
  border: none;
  color: #1100fa;
  cursor: pointer;
  font-size: 14px;
}
.order-data-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}
.order-data-btn span b {
  color: var(--main-color);
}
.order-data-btn button {
  padding: 5px 20px;
  display: flex;
  gap: 10px;
  cursor: pointer;
  border-radius: 20px;
  background: #000;
  color: #fff;
  font-size: 14px;
  border: none;
  margin-top: 10px;
  align-items: center;
}
.order-data-btn button:first-child:hover .icon {
  transform: translateX(-7px);
}
.order-data-btn button:last-child:hover .icon {
  transform: translateX(7px);
}
.order-data-btn button .icon {
  color: #fff;
  font-size: 22px;
}
.order-data-id hr,
.date.flex-center.g-10 hr {
  display: none;
}
@media (max-width: 800px) {
  .order-list-middle {
    display: flex;
    flex-direction: column;
  }
  .orders-track {
    width: 90vw;
  }
  .orders-data-top {
    flex-direction: column;
    gap: 10px;
  }
  .order-data-id {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .order-data-id hr,
  .date.flex-center.g-10 hr {
    height: 1px;
    width: 10px;
    display: block;
    border: none;
    background: #000;
  }
  .order-receipt-btn {
    justify-content: space-between;
    flex-direction: column;
  }
  .orders-data-middle {
    flex-direction: column;
  }
  .completed-order {
    justify-content: space-between;
    margin-top: 0;
  }
  .order-data-button {
    margin: 5px 0 15px 0;
  }
  .warning-user {
    animation: sliderTextMini 32s infinite linear;
  }
}
@keyframes sliderTextMini {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-480%);
  }
}
