.orders-container {
  margin-top: 60px;
}
.orders-data-navbar ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  background: #f3f3f3;
  padding: 5px;
  gap: 10px;
  border-radius: 30px;
}

.orders-data-navbar ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 7px max(1.2vw, 8px);
  width: 100%;
  border-radius: 30px;
  font-size: max(1.2vw, 11px);
  font-weight: 600;
  transition: 0.3s ease;
  text-transform: capitalize;
  cursor: pointer;
  color: #686868;
}
.orders-data-navbar ul li span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 10px;
  background: #686868;
  color: #fff;
}
.orders-data-navbar ul li.active {
  background: #fff;
  color: #000;
}
.orders-data-navbar ul li.active span {
  background: #000;
  color: #fff;
}
.orders-data-list {
  /* background: #000000; */
  /* padding: 10px; */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.status-icon {
  position: relative;
  justify-content: center;
}
.spinner {
  height: 26px;
  position: absolute;
  width: 26px;
  top: -4px;
  left: -5px;
  right: 0;
  bottom: 0;
}
.spinner circle {
  fill: none;
  stroke: #4285f4;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-dasharray: 80;
  stroke-dashoffset: 60;
  animation: spin 1.5s linear infinite, dash 1.5s linear infinite;
  transform-origin: 50% 50%;
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -15;
  }
  100% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: -120;
  }
}
/* .test {
  height: 20px;
  width: 20px;
  background: conic-gradient(#00fff7, #0051ff, #d100ff, #ff0077, #00fff7);
  animation: spin 1.5s linear infinite;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
} */
/* .test::before {
  content: '';
  border-radius: 50%;
  position: absolute;
  height: 90%;
  width: 90%;
  background: #fff;
} */
.test-in {
}
.orders-data {
  padding: 15px;
  border-radius: 10px;
  background: #fff;
  border-top-left-radius: -15px;
  overflow: hidden;
  position: relative;
  z-index: 5;
  width: 100%;
}
.orders-data.paid {
  box-shadow: 0px 0px 5px 0px var(--paid);
}
.orders-data.pend {
  box-shadow: 0px 0px 5px 0px var(--pend);
}
.orders-data.failed {
  box-shadow: 0px 0px 5px 0px var(--failed);
}

.order-data-bottom {
  width: 100%;
  padding: 5px 10px;
}
.order-data-bottom.paid {
  /* color: var(--paid); */
  background: #daffd1;
}
.order-data-bottom.pend {
  /* color: var(--pend); */
  background: #dde4ff;
}
.order-data-bottom.failed {
  background: #f5caca;
  /* color: var(--failed); */
}
.orders-data-top {
  display: flex;
  justify-content: space-between;
}
.order-data-date-status {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.orders-data-container {
  margin-bottom: 10px;
}
.order-data-status-container {
  gap: 10px;
}
.order-data-status {
  padding: 4px 20px;
  cursor: not-allowed;
  border-radius: 20px;
  gap: 5px;
  text-transform: capitalize;
}
.order-data-status.paid {
  background: #daffd1;
  color: var(--paid);
}
.order-data-status.pend {
  background: #dde4ff;
  color: var(--pend);
}
.order-data-status.failed {
  background: #f5caca;
  color: var(--failed);
}
.order-data-food-items {
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: -2;
}
.order-data-food-item {
  background: #f1f1f1;
  box-shadow: 0px 0px 5px 0px #686868;
  border-radius: 6px;
  margin-top: 5px;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  justify-content: space-between;
  padding: 8px 5px;
}
.order-data-food-item-name-quantity {
  width: 100%;
  font-size: max(1.2vw, 12.5px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.order-data-food-item-quantity {
  display: flex;
  justify-content: space-between;
}
.order-data-food-items .img-cont {
}
.order-data-food-items img {
  width: 60px;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.order-data-food-item-btn {
  display: flex;
  align-items: center;
  gap: 15px;
}
.order-data-food-item-btn button {
  text-transform: capitalize;
  background: transparent;
  border: none;
  color: #1100fa;
  cursor: pointer;
}
.order-data-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}
.order-data-btn span b {
  color: var(--main-color);
}
.order-data-btn button {
  padding: 5px 20px;
  display: flex;
  gap: 10px;
  cursor: pointer;
  border-radius: 20px;
  background: #000;
  color: #fff;
  font-size: 14px;
  border: none;
  margin-top: 10px;
  align-items: center;
}
.order-data-btn button:first-child:hover .icon {
  transform: translateX(-7px);
}
.order-data-btn button:last-child:hover .icon {
  transform: translateX(7px);
}
.order-data-btn button .icon {
  color: #fff;
  font-size: 22px;
}
